<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', resource: f.object %>
  <div>
    <%= f.text_area :content, placeholder: "今何してる...?" %>
  </div>
  <%= f.submit "投稿" %>
  <span class = "picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>